node_modules/
archiveHTML/
archiveMESSAGES/
utils/
server/store/old/
test-1.js
test-2.js
test-3.js
./*.png
./*.html
./*.json
main.js
clean.ps1
Rapport d'avancement.pdf
plorgue*.zip
lien.txt
clean.ps1
.vs/

*.h5
*.pt
sentiments/data/*.csv
sentiments/data/*.jsonl
sentiments/data/*.pickle
sentiments/.vs



!package-lock.json
!package.json