node_modules/
archiveHTML/
archiveMESSAGES/
utils/
server/store/old/
server/store/format.js
server/*.png
test-1.js
test-2.js
test-3.js
./*.png
./*.html
./*.json
main.js
clean.ps1
Rapport d'avancement.pdf
plorgue*.zip
lien.txt
clean.ps1
.vs/

*.h5
*.pt
sentiments/data/*.csv
sentiments/data/*.jsonl
sentiments/data/*.pickle
sentiments/.vscode



!package-lock.json
!package.json
!sentiments/models_weights/f179_count8000_epo20_batch4.h5